<table>
  <tr>
    <td>
      <plotly-plot
        id="plot"
        [data]="graph.data!"
        [layout]="graph.layout"
      ></plotly-plot>
    </td>
    <td>
      <div class="settings">
        <label for="number_x">X</label>
        <input
          type="number"
          max="100"
          min="2"
          name="number_x"
          [defaultValue]="10"
          [(ngModel)]="number_x"
        />
        <br />
        <br />
        <label for="number_y">Y</label>
        <input
          type="number"
          max="100"
          min="2"
          name="number_y"
          [defaultValue]="50"
          [(ngModel)]="number_y"
        />
        <p>Values from 2 to 100</p>
        <button (click)="refresh()">Refresh</button>
      </div>
    </td>
  </tr>
</table>
